*.bash
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.properties
*.bash
*.jrl
*.grctmp
*.map
*.elf
*.properties

MPLABXLog.xml
MPLABXLog.xml.*
private.xml

*.X/nbproject/private/*
*.X/build/*
*.X/dist/*
*.X/debug/*

*.map

private.h
